* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.form-container {
  background-color: #232523;
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  .form-wrapper {
    form {
      border-radius: 20px;
      padding: 25px 75px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      color: black;
      background-color: #f1ede9;
    }
    input {
      width: 400px;
      background-color: transparent;
      padding: 20px;
      font-size: large;
      border: none;
      border-bottom: 2px solid rgb(102, 93, 93);
      outline: none;
      font-weight: bold;
      color: rgb(42, 39, 39);
      &::placeholder {
        color: rgb(107, 96, 96);
      }
    }
    label {
      font-size: large;
      font-weight: bold;
      padding: 5px 0px;
      border-radius: 5px;
      color: white;
      background-color: #5130ab;
    }
  }
}

@mixin mobile {
  @media only screen and (max-width: 480) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 768) {
    @content;
  }
}

.home {
  background-color: #2f2d34;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    background-color: #5f479f;
    border-radius: 10px;
    height: 99%;
    width: 99%;
    display: flex;
    gap: 2px;
    padding: 1px;

    .sidebar {
      position: relative;
      flex: 1;
      height: 100%;
      border-radius: 10px;
      background-color: #2f2d34;
      .header {
        height: 75px;
        border-radius: 10px;
        background-color: #232523;
        display: flex;
        flex-direction: row;
        // justify-content: flex-start;
        align-items: center;
        .logo {
          flex: 1;
          font-size: x-large;
          height: fit-content;
        }
        .user {
          flex: 5;
          display: flex;
          gap: 10px;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
          padding-right: 20px;
          .user-img img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }
          .user-name {
            font-size: large;
            font-weight: bold;
          }
        }
      }
      .search {
        border-bottom: 1px solid transparent;
        .search-form {
          padding: 10px;
          input {
            background-color: transparent;
            border: none;
            outline: none;
            width: 100%;
            font-size: larger;
            text-align: center;
          }
        }
        .search-user {
          width: 100%;
          display: flex;
          justify-content: space-around;
          padding: 10px;
          align-items: center;
          border-bottom: 0.1px solid rgba(128, 128, 128, 0.376);
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }
          span {
            font-size: large;
            color: white;
          }
        }
        .search-user:hover {
          background-color: #5f479f;
        }
      }
      .chats {
        width: 100%;
        display: flex;
        flex-direction: column;
        .chat {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          gap: 20px;
          padding: 10px;
          align-items: center;
          border-bottom: 0.1px solid rgba(128, 128, 128, 0.394);
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }
          .content {
            display: flex;
            flex-direction: column;
            // gap: 5px;
            .name {
              text-align: left;
              font-size: large;
              font-weight: bold;
              color: white;
            }
            .message {
              font-size: medium;
              color: grey;
            }
          }
        }
        .chat:hover {
          background-color: #000;
          cursor: pointer;
        }
        .current-chat {
          background-color: #5f479f !important;
          border-left: 5px solid rgb(246, 255, 0);
        }
      }
    }

    .chatbox {
      flex: 2.5;
      height: 100%;
      border-radius: 10px;
      background-color: transparent;
      .topbar {
        height: 75px;
        border-radius: 10px;
        background-color: #232523;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 20px;
        justify-content: space-between;
        .name {
          font-size: large;
          font-weight: bold;
          color: white;
        }
        .icons {
          display: flex;
          gap: 15px;
          .icon {
            font-size: x-large;
          }
        }
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .bottombar {
        background-color: #000000;
        height: 74px;
        border-radius: 10px;
        display: flex;
        flex-direction: row;

        input {
          width: 100%;
          background-color: #2f2d34;
          padding: 20px;
          font-size: large;
          border: none;
          outline: none;
        }

        .icons {
          display: flex;
          padding: 10px;
          justify-content: flex-end;
          align-items: center;
          gap: 15px;
          .icon {
            cursor: pointer;
            font-size: x-large;
          }
          .icon:nth-child(1) {
            font-size: xx-large;
          }
        }
        .emoji-abs {
          height: 74px;
          width: 74px;
          border-radius: 10px;
          background-color: rgb(73, 3, 96);
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: x-large;
          border-radius: 10px 0 0 10px;
          cursor: pointer;
        }
      }

      .messages {
        position: relative;
        height: calc(100% - 150px);
        background-color: #5f479f;
        display: flex;
        flex-direction: column;
        flex-flow: column-reverse;
        overflow-y: scroll;
        .message {
          display: flex;
          flex-direction: row;
          width: 100%;
          position: relative;
          gap: 5px;
          padding: 10px;
          border-radius: 10px;
          .message-text {
            max-width: 70%;
            text-align: left;
            padding: 10px;
            border-radius: 10px 0px 10px 10px;
            background-color: #008b0c55;
            width: fit-content;
            .file {
              background-color: #5f479f80;
              border-radius: 5px;
              padding: 10px;
              a {
                color: rgb(230, 225, 225);
              }
              div {
                font-size: small;
                color: rgb(199, 187, 187);
                text-align: right;
              }
            }
            img {
              max-width: 350px;
              @include mobile {
                max-width: 100%;
              }
            }
          }
        }
        .receive {
          flex-direction: row;
          .message-text {
            border-radius: 0px 10px 10px 10px;
            background-color: #4a0d6d55;
          }
        }
        .send {
          flex-direction: row-reverse;
        }
        .time {
          font-size: small;
          color: rgb(190, 190, 190);
        }
      }
    }
  }
}
